@{
    ViewData["Title"] = "Продукты";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Магазин Косметики</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <h1>Наши Продукты</h1>

    </header>
    <main>
        <section>
            <h2>Косметика для макияжа</h2>
            <article>
                <img src="https://chztl.ru/wp-content/uploads/9/7/0/9701b0d0082a93e06af41a9136a6331e.jpeg" alt="Тональный крем" class="product-image">
                <h3>Тональный крем</h3>
                <p>Отличное покрытие и долговечность. Подходит для любого типа кожи.</p>
            </article>
            <article>
                <img src="https://chztl.ru/wp-content/uploads/9/7/0/9701b0d0082a93e06af41a9136a6331e.jpeg" alt="Помада" class="product-image">
                <h3>Помада</h3>
                <p>Яркие и насыщенные оттенки для идеального макияжа губ.</p>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Магазин Косметики</p>
    </footer>
</body>
</html>